<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Editar' : 'Cadastrar'}} Produto</h1>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Código</label>
        <p-spinner maxlength="3" name="numIdentificador" formControlName="numIdentificador" [min]="0" [max]="999"></p-spinner>
      </div>

      <div class="ui-g-12 ui-md-10 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" maxlength="45" name="descricao" formControlName="descricao">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Ingredientes</label>
        <p-multiSelect
          optionLabel="descricao"
          selectedItemsLabel="{0} Ingredientes Selecionados"
          defaultLabel="Selecione os Ingredientes"
          [options]="ingredientesBase" formControlName="ingredientes">
        </p-multiSelect>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown [autoWidth]="false" name="categoria" [options]="categorias" formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input currencyMask
          class="ng-untouched ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget"
          max="100.00"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          name="valor" formControlName="valor">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Volume</label>
        <p-spinner name="quantidadeMedida" formControlName="quantidadeMedida" [min]="0" [max]="9999"></p-spinner>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="unidadeMedida">
        <label>Unidade de Medida</label>
        <p-dropdown [autoWidth]="false" name="unidadeMedida" [options]="unidadesMedida" formControlName="codigo"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Exibir no Cardápio?</label>
        <div class="ui-g-12">
          <p-radioButton name="group1" value="Sim" label="Sim" formControlName="exibirCardapio" inputId="opt1"></p-radioButton>
          <p-radioButton name="group1" value="Nao" label="Não" formControlName="exibirCardapio" inputId="opt2"></p-radioButton>
        </div>
      </div>

      <!-- ui-g-offset-10 = Ou seja, quero que o Botão inicia da posição 10 -->

      <div class="ui-g-12 ui-md-2 ui-fluid" *ngIf="!formulario.get('imagem').value">
        <p-fileUpload name="imagem" mode="basic" auto="true" maxFileSize="10000000" chooseLabel="Imagem"
        accept="image/*" [url]="urlUploadImagem"
        (onBeforeSend)="antesUploadImagem($event)"
        (onUpload)="aoTerminarUploadImagem($event)"
        (onError)="erroUpload($event)"
        [hidden]="uploadEmAndamento"></p-fileUpload>

        <p-progressSpinner [style]="{ width: '25px', height: '25px' }"
        [hidden]="!uploadEmAndamento"></p-progressSpinner>
      </div>

      <div class="ui-g-12 ui-md-6" *ngIf="formulario.get('imagem').value" dir="rtl">
        <button pButton type="button" class="ui-button-danger" icon="fa fa-close"
        pTooltip="Remover Imagem" tooltipPosition="top" (click)="removerImagem()"></button>

        <a target="_blank" pTooltip="Download Imagem" tooltipPosition="top"
        [href]="formulario.get('urlImagem').value">{{nomeAnexo}}</a>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || uploadEmAndamento"></button>
        <a pButton routerLink="/produtos" label="Voltar"></a>
      </div>

    </div>

  </form>
</div>
