<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Editar' : 'Cadastrar'}} Senha</h1>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Senha</label>
        <input pInputText type="text" name="senha" formControlName="senha">

        <app-message [control]="formulario.get('senha')" error="obrigatoriedade" text="Informe a Senha"></app-message>
      </div>

      <div class="ui-g-12 ui-md-10 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" formControlName="nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a pButton routerLink="/controlepedidos" label="Voltar"></a>
      </div>

    </div>

  </form>
</div>
