<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Editar' : 'Cadastrar'}} Parâmetro</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe a Descrição"></app-message>
      </div>

      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Chave</label>
        <input pInputText type="text" name="chave" formControlName="chave">

        <app-message [control]="formulario.get('chave')" error="obrigatoriedade" text="Informe a Chave"></app-message>
      </div>

      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Tipo</label>
        <p-dropdown [autoWidth]="false" name="tipo" (onChange)="verificarTipoSelecionado()" formControlName="tipo" [options]="tipos"></p-dropdown>

        <app-message [control]="formulario.get('tipo')" error="obrigatoriedade" text="Informe o Tipo"></app-message>
      </div>

      <div *ngIf="formulario.value.tipo == 'Texto'" class="ui-g-12 ui-md-12 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" formControlName="valor">
        
        <app-message [control]="formulario.get('valor')" error="obrigatoriedade" text="Informe o Valor"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid" *ngIf="!formulario.get('valor').value && formulario.value.tipo == 'Imagem'">
        <p-fileUpload name="valor" mode="basic" auto="true" maxFileSize="10000000" chooseLabel="Imagem"
        accept="image/*" [url]="urlUploadImagem"
        (onBeforeSend)="antesUploadImagem($event)"
        (onUpload)="aoTerminarUploadImagem($event)"
        (onError)="erroUpload($event)"
        [hidden]="uploadEmAndamento"></p-fileUpload>

        <p-progressSpinner [style]="{ width: '25px', height: '25px' }"
        [hidden]="!uploadEmAndamento"></p-progressSpinner>
      </div>

      <div class="ui-g-12 ui-md-6" *ngIf="formulario.get('valor').value && formulario.value.tipo == 'Imagem'">
        <button pButton type="button" class="ui-button-danger" icon="fa fa-close"
        pTooltip="Remover Imagem" tooltipPosition="top" (click)="removerImagem()"></button>

        <a target="_blank" pTooltip="Download Imagem" tooltipPosition="top"
        [href]="formulario.get('urlImagem').value">{{nomeAnexo}}</a>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a pButton routerLink="/parametros" label="Voltar"></a>
      </div>

    </div>

  </form>
</div>
