<div class="container">

  <div class="ui-g-12">
    <h1>Usuários</h1>
  </div>

  <div class="ui-g-12">

    <a style="margin-bottom: 2vh;" pButton routerLink="/usuarios/cadastrar" label="Novo Usuário"></a>

    <div class="card card-w-title">
      <p-toolbar>
        <div class="ui-toolbar-group-right ui-g-12 ui-md-4 ui-fluid">
          <span class="md-inputfield">
            <input pInputText
                type="text"
                size="30"
                placeholder="Procurar"
                (input)="dt.filterGlobal($event.target.value, 'contains')">
          </span>
        </div>
      </p-toolbar>

      <p-table
        #dt [columns]="cols"
        [value]="usuarios"
        [paginator]="true"
        [rows]="6"
        [responsive]="true">

        <ng-template pTemplate="caption">
            <b>Tabela de Usuário</b>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    <div *ngIf="col.header != ''">
                        <b>{{col.header}}</b>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.header">
              <div *ngSwitchCase="'Código'">
                  {{ rowData[col.field] }}
              </div>
              <div *ngSwitchCase="'Nome'">
                  {{ rowData[col.field] }}
              </div>
              <div *ngSwitchCase="'Login'">
                  {{ rowData[col.field] }}
              </div>
              <div *ngSwitchCase="'Perfil'">
                  {{ rowData[col.field] }}
              </div>
              <div *ngSwitchCase="'Status'">
                  <b [style.color]="rowData[col.field] ? 'green':'red'">{{ rowData[col.field] ? 'Ativo' : 'Inativo' }}</b>
              </div>
              <div *ngSwitchCase="''" style="text-align: center">
                <button pButton
                  icon="fa fa-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                  [routerLink]="['/usuarios', rowData.codigo]"
                  [disabled]="!auth.temPermissao('ROLE_ALTERAR_USUARIO')">
                </button>
                <button pButton
                  tooltipPosition="top"
                  icon="fa fa-trash"
                  pTooltip="Excluir"
                  (click)="confirmarExcluir(rowData)"
                  [disabled]="!auth.temPermissao('ROLE_EXCLUIR_USUARIO')">
                </button>
                <button pButton
                  tooltipPosition="top"
                  icon="fa fa-ban"
                  [pTooltip]="rowData.status ? 'Desativar' : 'Ativar'"
                  (click)="alterarStatus(rowData)"
                  [disabled]="!auth.temPermissao('ROLE_ALTERAR_USUARIO')">
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
