.login {
  margin: auto;
  max-width: 400px;
  padding-top: 5vh;
}

.centered {
  text-align: center;
  font-size: 0;
}
.centered > div {
  float: none;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}
