<div class="login">

  <!--{{ auth.jwtPayLoad | json }}-->
  <p-card>
    <form autocomplete="off" #f="ngForm">
      <div class="ui-g ui-fluid">

        <div class="ui-g-12">
          <div style="text-align: center">
            <img class="rounded mx-auto d-block" src="./../../../assets/cardapio/marca.png" width="300" height="300"/>
          </div>
        </div>

        <div class="ui-g-12">
          <input pInputText name="usuario" placeholder="Login" ngModel required #usuario>
        </div>

        <div class="ui-g-12">
          <input pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Entrar" [disabled]="!f.valid"
            (click)="login(usuario.value, senha.value); senha.value=''">
          </button>
        </div>

      </div>
    </form>
  </p-card>

</div>
