.gridCardapio {
  background: url('../../../assets/cardapio/logo2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 93.5vh;
}

.categoria {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.colorCategoria {
  color: aliceblue;
  background-color:rgb(126, 63, 152);
  width: 98%;
  padding: 0.5vh;
  margin-left: 1%;
}

.blocoProduto {
  min-height: 35px;
  margin-top: 2vh;
}

.produto {
  margin-left: 5%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  float: left;
}

.valorProduto {
  margin-right: 5%;
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-style: oblique;
  font-variant: small-caps;
  text-align: right;
}

.ingrediente {
  color: yellow;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -10%;
  font-size: 15px;
  font-weight: 500;
  clear: both;
  display: block;
}

@font-face {
  font-family: Barrio;
  src: url('../../../assets/cardapio/barrio-regular.ttf')
}

.textoOferta {
  padding-top: 2vh;
  font-family: Barrio;
  color: white;
  font-size: 40px;
}

.textoPromocional {
  margin-top: 5vh;
  font-family: Barrio;
  color: goldenrod;
  font-size: 80px;
}

.porcao {
  font-weight: bold;
  color: rgb(125, 14, 14);
  float: left;
  max-height: 5vh;
}

.divSenha {
  height: 18.3vh;
}

.textoUltimaSenha {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.textoUltimasSenhas {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.senha {
  text-align: center;
  margin-top: -1vh;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #000;
  font-size: 8em; color: #fffdd9;
}

.senhas {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 2.2em; color: #fffdd9;
}

.teste {
  background-color: blue;
}