<div class="ui-grid-row">
  <p-carousel
    [value]="cardapio"
    numVisible="1"
    circular="circular"
    circular="true"
    [responsive]="true">
    <ng-template let-item pTemplate="item">

<<<<<<< HEAD
        <!-- Configuração do Cardápio -->
        <div class="ui-grid-row" [ngStyle]="{'height': '70vh', 'background': getStyle()}" *ngIf="item.tipo == 'cardapio'">

          <ng-template ngFor let-cardapio [ngForOf]="item.conteudo.cardapio">
            <div class="ui-g-12 ui-md-6">
              <div class="categoria colorCategoria">{{cardapio.categoria}}</div>
              <ng-template ngFor let-produto [ngForOf]="cardapio.produto">
                <div class="blocoProduto">
                  <div class="produto">
                    <small style="font-size: 18px" *ngIf="produto.numIdentificador">{{produto.numIdentificador}}.</small>
                    <a style="color: white;" href="javascript:;" (click)="selecionarImagem($event, produto, op3)"> {{produto.descricao}}</a>
                    <small *ngIf="produto.unidadeMedida">({{produto.quantidadeMedida}} {{produto.unidadeMedida}})</small>
                  </div>
                  <div class="valorProduto">R$ {{produto.valor | number:'1.2-2'}}</div>

                  <div class="ingrediente" *ngIf="produto.ingredientes?.length > 0"><b>Ingredientes:</b> {{produto.ingredientes}}</div>
                </div>
              </ng-template>
            </div>
          </ng-template>
        </div>
=======
    <div class="gridCardapio">
      <!-- Configuração do Cardápio -->
      <div class="ui-grid-row" *ngIf="item.tipo == 'cardapio'">

        <ng-template ngFor let-cardapio [ngForOf]="item.conteudo.cardapio">
          <div class="ui-g-12 ui-md-6">
            <div class="categoria colorCategoria">{{cardapio.categoria}}</div>
            <ng-template ngFor let-produto [ngForOf]="cardapio.produto">
              <div class="blocoProduto">
                <div class="produto">
                  <small style="font-size: 18px" *ngIf="produto.numIdentificador">{{produto.numIdentificador}}.</small>
                  <a style="color: white;" href="javascript:;" (click)="selecionarImagem($event, produto, op3)"> {{produto.descricao}}</a>
                  <small *ngIf="produto.unidadeMedida">({{produto.quantidadeMedida}} {{produto.unidadeMedida}})</small>
                </div>
                <div class="valorProduto">R$ {{produto.valor | number:'1.2-2'}}</div>

                <div class="ingrediente" *ngIf="produto.ingredientes?.length > 0"><b>Ingredientes:</b> {{produto.ingredientes}}</div>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>

      <!-- Configuração da Oferta -->
      <div class="ui-grid-row" *ngIf="item.tipo == 'oferta'">
        <ng-template ngFor let-oferta [ngForOf]="item.conteudo" *ngIf="item.conteudo?.length == 1">
          <div class="ui-g-12">
            <div class="categoria">
              <div class="textoOferta">{{oferta.descricao}}</div>
            </div>
            <div class="categoria" style="margin-top: 5vh">
              <img class="rounded mx-auto d-block" [src]="oferta.produto.urlImagem" width="350" height="300"/>
            </div>
            <div class="categoria">
              <div class="textoPromocional">R$ {{oferta.valorPromocional | number:'1.2-2'}}</div>
            </div>
          </div>
        </ng-template>
        <ng-template ngFor let-oferta [ngForOf]="item.conteudo" *ngIf="item.conteudo?.length > 1">
          <div class="ui-g-12 ui-md-6">
            <div class="categoria">
              <div class="textoOferta">{{oferta.descricao}}</div>
            </div>
            <div class="categoria" style="margin-top: 5vh">
              <img class="rounded mx-auto d-block" [src]="oferta.produto.urlImagem" width="350" height="250"/>
            </div>
            <div class="categoria">
              <div class="textoPromocional">R$ {{oferta.valorPromocional | number:'1.2-2'}}</div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
>>>>>>> 187c0f3305af2c5690272d439ee62b5ad98cd70f

        <!-- Configuração da Oferta -->
        <div class="i-grid ui-grid-responsive">
          <div class="ui-grid-row" [ngStyle]="{'height': '93.5vh', 'background': getStyle()}" *ngIf="item.tipo == 'oferta'">
            <ng-template ngFor let-oferta [ngForOf]="item.conteudo" *ngIf="item.conteudo?.length == 1">
              <div class="ui-grid-col-12">
                  <div class="categoria">
                    <div class="textoOferta">{{oferta.descricao}}</div>
                  </div>
                  <div class="categoria" style="margin-top: 5vh">
                    <img class="rounded mx-auto d-block" [src]="oferta.produto.urlImagem" width="350" height="300"/>
                  </div>
                  <div class="categoria">
                    <div class="textoPromocional">R$ {{oferta.valorPromocional | number:'1.2-2'}}</div>
                  </div>
              </div>
            </ng-template>
            <ng-template ngFor let-oferta [ngForOf]="item.conteudo" *ngIf="item.conteudo?.length > 1">
              <div class="ui-grid-col-6">
                  <div class="categoria">
                    <div class="textoOferta">{{oferta.descricao}}</div>
                  </div>
                  <div class="categoria">
                    <img class="rounded mx-auto d-block" [src]="oferta.produto.urlImagem" width="350" height="250"/>
                  </div>
                  <div class="categoria">
                    <div class="textoPromocional">R$ {{oferta.valorPromocional | number:'1.2-2'}}</div>
                  </div>
              </div>
            </ng-template>
          </div>
        </div>

    </ng-template>
  </p-carousel>

</div>