<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Editar' : 'Cadastrar'}} Usuário</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome Completo</label>
        <input pInputText type="text" name="nome" formControlName="nome">

        <app-message [control]="formulario.get('nome')" error="obrigatoriedade" text="Informe o Nome"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Login</label>
        <input pInputText type="text" name="login" formControlName="login">

        <app-message [control]="formulario.get('login')" error="obrigatoriedade" text="Informe o Login"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="perfil">
        <label>Perfil</label>
        <p-dropdown name="perfil" [options]="perfis"
          placeholder="Selecione" [autoWidth]="false"
          [filter]="true"
          formControlName="codigo"></p-dropdown>

        <app-message [control]="formulario.get('perfil')" error="obrigatoriedade" text="Informe o Perfil"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Senha</label>
        <input pPassword type="password" minlength="5" name="senha" formControlName="senha" [feedback]="false">

        <app-message [control]="formulario.get('senha')" error="obrigatoriedade" text="Informe a Senha"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid" *ngIf="!editando">
        <label>Confirmação Senha</label>
        <input pPassword type="password" minlength="5" name="confirmarSenha" formControlName="confirmarSenha" [feedback]="false">

        <app-message [control]="formulario.get('confirmarSenha')" error="obrigatoriedade" text="Informe a Confirmação de Senha"></app-message>
        <app-message [control]="formulario.get('confirmarSenha')" error="senhasNaoCoincidem" text="Senhas não Conferem"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a pButton routerLink="/usuarios" label="Voltar"></a>
      </div>
    </div>

  </form>
</div>
