<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <!-- A Presença da ? é pra não dar Problema,
      ou Seja só é exibido o Nome caso a variável jwtPayLoad
      não esteja vazio! -->
    <li class="navbar-usuario">{{ auth.jwtPayLoad?.user_name }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/dashboard">Painel Administrativo</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_USUARIO')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/usuarios">Usuário</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_PERFIL')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/perfis">Perfis</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_CATEGORIA')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/categorias">Categorias</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_ALTERAR_COMPLEMENTO')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/complementos">Porções e Molhos</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_INGREDIENTE')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/ingredientes">Ingredientes</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_UNIDADE_MEDIDA')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/unidadesmedida">Unidades de Medida</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_PRODUTO')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/produtos">Produtos</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_OFERTA')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/ofertas">Ofertas</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_CONTROLE_PEDIDOS')"
    class="navbar-menuitem" routerLinkActive="ativo">
      <a routerLink="/controlepedidos">Controle de Senhas</a>
    </li>
    <li *ngIf="auth.temPermissao('ROLE_PESQUISAR_PARAMETROS')"
      class="navbar-menuitem" routerLinkActive="ativo">
        <a routerLink="/parametros">Parâmetros</a>
    </li>
    <li class="navbar-menuitem" routerLinkActive="ativo">
        <a target="_blank" routerLink="/cardapio">Cardápio</a>
    </li>
    <li class="navbar-menuitem">
      <a href="javascript:;" (click)="logout()">Logout</a>
    </li>
  </ul>

</nav>
