<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Editar' : 'Cadastrar'}} Categoria</h1>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Código</label>
          <p-spinner maxlength="3" name="numIdentificador" formControlName="numIdentificador" [min]="0" [max]="999"></p-spinner>

          <app-message [control]="formulario.get('numIdentificador')" error="obrigatoriedade" text="Informe o Código"></app-message>
      </div>

      <div class="ui-g-12 ui-md-10 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade" text="Informe a Descrição"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a pButton routerLink="/categorias" label="Voltar"></a>
      </div>

    </div>

  </form>
</div>
