<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Editar' : 'Cadastrar'}} Oferta</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="!editando" formGroupName="produto">
        <label>Produto:</label>
        <p-dropdown formControlName="codigo" [autoWidth]="false" [options]="produtos" name="produto" [filter]="true" filterBy="label, value.name"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" *ngIf="editando" formGroupName="produto">
        <label>Produto:</label>
        <input id="disabled-input" formControlName="descricao" type="text" size="30" pInputText [attr.disabled]="true" />
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao" formControlName="descricao">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Valor</label>
        <input currencyMask
          class="ng-untouched ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget"
          max="100.00"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          name="valorPromocional" formControlName="valorPromocional">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Vigência da Oferta</label>
        <p-calendar formControlName="dataValidade" dateFormat="dd/mm/yy" [locale]="ptBr" [showTime]="true" selectionMode="range" [readonlyInput]="true"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a pButton routerLink="/ofertas" label="Voltar"></a>
      </div>

    </div>

  </form>
</div>
