<app-navbar *ngIf="exibindoNavbar()"></app-navbar>

<!-- Diretiva das Rotas -->
<router-outlet></router-outlet>

<!-- Diretiva do Componente de Mensagens -->
<div toastContainer></div>

<!-- Diretiva do Componente da Caixa de Diálogo de Confirmação -->
<p-confirmDialog
  #confirmacao
  header="Confirmação"
  icon="fa fa-question-circle">
  <p-footer>
    <button
      type="button"
      pButton icon="fa fa-check-circle"
      label="Sim"
      (click)="confirmacao.accept()">
    </button>
    <button
      type="button"
      pButton icon="fa fa-times-circle"
      label="Não"
      (click)="confirmacao.reject()">
    </button>
  </p-footer>
</p-confirmDialog>
