<div class="container">

  <div class="ui-g-12">
    <h1>Parâmetros</h1>
  </div>

  <div class="ui-g-12">

    <a style="margin-bottom: 2vh;" pButton routerLink="/parametros/cadastrar" label="Novo Parâmetro"></a>

    <div class="card card-w-title">
      <p-toolbar>
        <div class="ui-toolbar-group-right ui-g-12 ui-md-4 ui-fluid">
          <span class="md-inputfield">
            <input pInputText
                type="text"
                size="30"
                placeholder="Procurar"
                (input)="dt.filterGlobal($event.target.value, 'contains')">
          </span>
        </div>
      </p-toolbar>

      <p-table
        #dt [columns]="cols"
        [value]="parametros"
        [paginator]="true"
        [rows]="6"
        [responsive]="true">

        <ng-template pTemplate="caption">
            <b>Tabela de Parâmetros</b>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    <div *ngIf="col.header != ''">
                        <b>{{col.header}}</b>
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" [ngSwitch]="col.header">
              <div *ngSwitchCase="'Código'">
                  {{ rowData[col.field] }}
              </div>
              <div *ngSwitchCase="'Descrição'">
                  {{ rowData[col.field] }}
              </div>
              <div *ngSwitchCase="'Chave'">
                  {{ rowData[col.field] }}
              </div>
              <!--<div *ngSwitchCase="'Valor'">
                <div *ngIf=" 1 == 'Imagem'">
                  <a target="_blank" pTooltip="Download Imagem" tooltipPosition="top" [href]="rowData[col.field]">
                    {{ rowData[col.field] }}
                  </a>
                </div>
                <div  *ngIf=" 1 != 'Imagem'">{{ rowData[col.field] }}</div>
              </div>-->
              <div *ngSwitchCase="'Tipo'">
                <b [style.color]="rowData[col.field] == 'Imagem' ? 'blue':'black'">{{ rowData[col.field] }}</b>
              </div>
              <div *ngSwitchCase="'Status'">
                <b [style.color]="rowData[col.field] ? 'green':'red'">{{ rowData[col.field] ? 'Ativo' : 'Inativo' }}</b>
              </div>
              <div *ngSwitchCase="''" style="text-align: center">
                <button pButton
                  icon="fa fa-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                  [routerLink]="['/parametros', rowData.codigo]"
                  [disabled]="!auth.temPermissao('ROLE_ALTERAR_PARAMETROS')">
                </button>
                <button pButton
                  tooltipPosition="top"
                  icon="fa fa-trash"
                  pTooltip="Excluir"
                  (click)="confirmarExcluir(rowData)"
                  [disabled]="!auth.temPermissao('ROLE_EXCLUIR_PARAMETROS')">
                </button>
                <button pButton
                  tooltipPosition="top"
                  icon="fa fa-ban"
                  [pTooltip]="rowData.status ? 'Desativar' : 'Ativar'"
                  (click)="alterarStatus(rowData)">
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
