<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g-12">
      <h1>{{editando ? 'Editar' : 'Cadastrar'}} Perfil</h1>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text" name="descricao" formControlName="descricao">

      <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
        text="Informe a Descrição"></app-message>
      <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
        text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} Caracteres..."></app-message>
    </div>

    <div class="ui-g-12 ui-md-9 ui-fluid">
      <label>Permissões</label>
      <p-multiSelect
        optionLabel="descricao"
        selectedItemsLabel="{0} Permissões Selecionadas"
        defaultLabel="Selecione"
        [options]="permissoesBase" formControlName="permissoes">
      </p-multiSelect>

      <app-message [control]="formulario.get('permissoes')" error="required"
        text="Selecione pelo menos uma Permissão para o Perfil"></app-message>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
      <a pButton routerLink="/perfis" label="Voltar"></a>
    </div>

  </form>
</div>
