<div class="container">
  <div class="ui-g">

    <form autocomplete="off">

      <div class="ui-g-12">
        <h1>Painel Administrativo</h1>
      </div>

      <div class="ui-g-12">
        <h4 style="color: brown">Olá {{ auth.jwtPayLoad?.nome }}, Seja bem vindo ao MENU DIGITAL!</h4>
      </div>

      <div class="ui-g-12">
        <h4>Siga os seguintes passos para a montagem do seu Cardápio:</h4>
        <h5>1 - Cadastre: Categorias*, Ingredientes*, Unidades de Medidas e Produtos.</h5>
        <h5>2 - Crie Ofertas com ou sem prazos de Finalização.</h5>
      </div>

      <div class="ui-g-12">
        <h4>Com apenas UM click seu cardápio digital está pronto! Clique no MENU "Cardápio" para visualizá-lo.</h4>
      </div>

      <div class="ui-g-12">
        <h4>Você também pode:</h4>
        <h5>Criar novos Perfis, atribuir permissões e aplicar a novos Usuários!</h5>
        <h5>Gere um QRCODE e compartilhe com seus clientes, o Link de Acesso ao Cardápio Online!</h5>
      </div>

    </form>

  </div>

</div>
